@keyframes slideRight {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.noResult {
  padding: 48px;
  margin: 48px;
  
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none;
  pointer-events: none;
}

.noResult h1 {
  text-align: center;
  text-shadow: 0px 2px 5px black;
  animation: slideRight 1s ease-in-out;
}


