.card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0.5rem;
  border-bottom: thin solid grey;
  width: 100%;
}

.card img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.card span {
  flex-grow: 1; /* Para que ocupen el espacio disponible de manera equitativa */
  padding: 8px;
  max-width: 150px; /* Establecer un ancho máximo */
  white-space: nowrap; /* Evitar que el texto se rompa en varias líneas */
  overflow: hidden; /* Ocultar cualquier texto que desborde el ancho máximo */
  text-overflow: ellipsis; /* Mostrar puntos suspensivos para indicar texto truncado */
}

.card .counter {
  border: thin solid gray;
  border-radius: 4px;
  padding: 4px;
}

.card .counter button {
  border: none;
  background-color: transparent;
  width: 24px;
  color: white;
  border-radius: 4px;
  transition: all 0.5s ease;
}

.card .counter button:hover {
  background-color: gray;
  color: white;
}

.card .iconTrash {
  color: rgba(255, 0, 0, 0.807);
  transition: all 0.5s ease;
}

.card .iconTrash:hover {
  transform: scale(1.5);
}

.iconTrash{
  padding: 10px;
}