.header {
  background-color: #0303034b;
  color: white;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header h1 {
  font-weight: 100;
}

.header h1,
.header h3 {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 3s steps(40) both;
  

  /* El usuario no puede selccionar con el mouse en distintos exploradores */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
  pointer-events: none;
}

.header .cartIcon {
  transition: transform 0.3s, scale 0.3s, filter 0.3s;
}

.header .cartIcon:hover {
  transform: rotate(360deg) scale(1.2);
  filter: brightness(1.2) saturate(1.5);
  color: #198754;
}

.button{
  color: green;
}