.modalBg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBg .modal {
  background-color: rgb(29, 29, 29);
  min-width: 640px;
  border-radius: 8px;
  padding: 1rem;
}

.modal aside {
  text-align: center;
}

.modal h2 {
  text-align: center;
}

.icon {
  color: grey;
  font-size: 1.5rem;
  cursor: pointer;
  float: right;
  transition: all 0.5s ease;
}

.icon:hover {
  transform: scale(1.1);
  color: rgba(255, 0, 0, 0.807)
}

.modalBody {
  display: grid;
  grid-template-columns: 75% 25%;
}

.btnContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.btnContainer button {
  background-color: transparent;
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
  padding: 4px;
  margin-bottom: 8px;
  width: 100%;
  transition: all 0.5s ease;
  color: grey;
}

.btnContainer button.clearCart:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(161, 159, 5);
}

.btnContainer button.confirmOrder:hover {
  transform: scale(1.1);
  color: white;
  background-color: rgb(73, 122, 74);
}