.main{
  height: auto;
  min-height: 100vh;
  background-image: url(../assets//Vintage_Style_Photography_In_a_serene_corner_of_a_traditional_0.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
  color: white;
  
  font-family: "Lato", sans-serif;
}

@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.main Header {
  animation: slideDown 1s ease-in-out;
}



@keyframes slideInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


Footer{
  animation: slideInUp 1s ease-in-out;
}